<footer id="footer">
    <div class="foot_block">
        <div itemscope itemtype="http://data-vocabulary.org/Person">
            <a href="/"><h2>Hi, I'm <span itemprop="name">Ryan Hornberger</span></h2></a>
            <img id="profile-pic" itemprop="photo" src="/a/images/profile.png" alt="Ryan Hornberger" style="width:150px; margin:15px 0px 5px;"/>
            <p style="max-width:560px; padding-left: 0px;">
                I'm currently working with
                    <span itemprop="affiliation"><a href="https://scan.me" class="white underline" target="_blank">Scan.me</a></span>
                as <span itemprop="title"> Vice President</span> of
                    <a href="https://scan.me/scan-to-pay" class="white underline" target="_blank">Scan to Pay</a>.
                Come check out how your customers can buy straight from your print ads.
            </p>
        </div>

        <div class="pushed divided">
            <h2> FOLLOW ME </h2>
            <br/>
            <a href="https://twitter.com/ryanhornberger" target="_blank">
                <span class="fa-stack fa-lg">                
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x darkGray"></i>
                </span>
            </a>
            <!--
            <a href="https://github.com/ryanhornberger" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-github fa-stack-2x"></i>
                </span>
            </a>
            -->
            <a href="https://www.linkedin.com/in/rhornberger" target="_blank">
                <span class="fa-stack fa-lg">                
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x darkGray"></i>
                </span>
            </a>
        </div>

        <div class="pushed divided">
            <nav>
                <ul>
                    <!--
                    <li><a href="/articles" class="white"> ARTICLES </a></li>
                    -->
                    <li><h2><a href="/articles" class="white"> ARTICLES </a></h2></li>     
                    <li><h2><a href="https://scan.me/bx4sgr" target="_blank" class="white"> PAY ME </a></h2></li>         
                </ul>
            </nav>
        </div>
    </div>
</footer>