@import url(modules/jquery_fancybox/jquery.fancybox.css);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
.darkGray {
  color: #222222; }

.bg-black {
  background-color: black; }

body {
  font-family: "Noto Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

h1, .h1 {
  font-size: 26px;
  margin-bottom: 10px; }

h2, .h2 {
  font-size: 18px;
  margin-bottom: 10px; }

h3, .h3 {
  font-size: 18px;
  margin-bottom: 10px; }

h4, .h4 {
  font-size: 18px;
  margin-bottom: 10px; }

p {
  margin-bottom: 15px; }

ul {
  list-style-position: inside; }

a {
  text-decoration: none;
  color: #2e9df7; }

a:hover {
  text-decoration: none; }

a.underline {
  text-decoration: underline; }

a.hover:hover {
  text-decoration: underline; }

#header {
  background-color: red;
  color: white;
  padding: 0px 20px; }
  #header #header-box {
    display: table;
    width: 1280px;
    height: 35px;
    margin: 0px auto;
    padding: 0px; }
    #header #header-box #header-title {
      display: table-cell;
      vertical-align: middle; }
    #header #header-box a {
      color: white; }

html, body {
  height: 100%; }

#content-box {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -390px; }
  #content-box #content-box-footer-push {
    height: 390px; }

#footer {
  clear: both;
  position: relative;
  height: 390px; }

#footer {
  background-color: #222222;
  color: white;
  padding: 20px; }
  #footer a {
    color: white; }
  #footer #footer-box .footer-section {
    padding: 10px 0px;
    border-bottom: 1px solid white; }
  #footer #footer-box #footer-about-me #profile-pic {
    width: 100px;
    height: 100px; }
  #footer #footer-box #footer-about-me p {
    max-width: 400px; }
  #footer #footer-box ul {
    list-style-type: none; }
    #footer #footer-box ul li {
      margin-top: 10px; }

.spaced {
  margin-top: 10px;
  margin-bottom: 10px; }

.pad {
  padding-left: 20px;
  padding-right: 20px; }

.page-max {
  max-width: 1280px;
  margin: 0px auto; }

.butn {
  display: block;
  padding: 5px;
  width: auto;
  height: 35px;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #2e9df7; }

.butn.tall {
  height: 150px;
  vertical-align: middle; }

.butn.custom {
  padding: 0px;
  color: #222222;
  background-color: transparent;
  vertical-align: top; }

.post-hero {
  width: auto;
  height: auto;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 350px 20px 70px;
  background-repeat: no-repeat;
  background-position: left center; }

@media (max-width: 700px) {
  .post-hero {
    padding: 150px 20px 20px; } }
