---
---
@import "modules/bourbon_scss/bourbon";
@import "modules/xerio_scss/sticky-footer";
@import "modules/jquery_fancybox/jquery.fancybox.css";

// -- FONTS -- //
	@import url(http://fonts.googleapis.com/css?family=Noto+Sans:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

// -- COLORS -- //
	$trueRed: 	#FF0000;
	$trueWhite: #FFFFFF;
	$trueBlack: #000000;
	$darkGray: 	#222222;
	$fadedBlue: #2e9df7;

	.darkGray {
		color: $darkGray;
	}

	.bg-black {
		background-color: $trueBlack;
	}

// -- VARIABLES -- //
	$pageMax: 1280px;

// -- DEFAULTS -- //
	body {
		//default font layout
		font-family: "Noto Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
		font-size: 14px;
	}

	* {
		//all objects sizing as border-box will guarantee objects stay the size I expect
		@include box-sizing(border-box);

		//no margins or padding on anything unless asking for it
		margin: 0px;
		padding: 0px;
	}

	h1, .h1 { font-size: 26px; margin-bottom: 10px; }
	h2, .h2 { font-size: 18px; margin-bottom: 10px; }
	h3, .h3 { font-size: 18px; margin-bottom: 10px; }
	h4, .h4 { font-size: 18px; margin-bottom: 10px; }

	p { margin-bottom: 15px; }
	ul { list-style-position:inside; }
	a { text-decoration: none; color: $fadedBlue }
	a:hover { text-decoration: none; }
	a.underline { text-decoration: underline; }
	a.hover:hover { text-decoration: underline; }

// -- HEADER -- //
	#header {
		background-color: $trueRed;
		color: $trueWhite;
		padding: 0px 20px;

		#header-box {
			display: table;
			width: $pageMax;
			height: 35px;
			margin: 0px auto;
			padding: 0px;

			#header-title {
				display: table-cell;
			  	vertical-align: middle;
			}

			a {
				color: $trueWhite; 
			}
		}
	}

// -- FOOTER -- //
	@include sticky-footer(390px, "#content-box", "#content-box-footer-push", "#footer");
	#footer {
		background-color: $darkGray;
		color: $trueWhite;
		padding: 20px;

		a {
			color: $trueWhite; 
		}

		#footer-box {
			.footer-section {
				padding: 10px 0px;
				border-bottom: 1px solid $trueWhite;
			}

			#footer-about-me {
				#profile-pic {
					width: 100px;
					height: 100px;
				}

				p {
					max-width: 400px;
				}
			}

			
			ul {
				list-style-type: none;

				li {
					margin-top: 10px;
				}
			}
		}
	}

// -- BODY -- //
	.spaced {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.pad {
		padding-left: 20px;
		padding-right: 20px;
	}

	.page-max {
		max-width: $pageMax;
		margin: 0px auto;
	}

// -- BUTTONS -- //
	.butn {
		display: block;
		padding: 5px;
		width: auto;
		height: 35px;
		cursor: pointer;
		text-align: center;
		color: $trueWhite; 
		background-color: $fadedBlue;
	}

	.butn.tall {
		height: 150px;
		vertical-align: middle;
	}

	.butn.custom {
		padding: 0px;
		color: $darkGray;
		background-color: transparent;
		vertical-align: top;
	}

// -- BLOG POSTS -- //

	.post-hero {
		width: auto; 
		height: auto; 
		background-size: cover;
		color: $trueWhite;
		text-align: center;
		padding: 350px 20px 70px;
		background-repeat: no-repeat;
		background-position: left center;
	}

	@media (max-width: 700px) {
		.post-hero {
			padding: 150px 20px 20px;
		}
	}
