---
layout: 2014-glass
---

<section class="post">
	<!-- Permalink Location -->
	<link rel="bookmark" href="{{ page.permalink }}" />
	
	<div class="title_block">
		<h1 class="title"> {{ page.heading }} </h1>
		{% if page.subtitle %}
			<p class="subtitle" style="padding-top: 0px;"> {{ page.subtitle }} </p>
		{% endif %}
        <div class="top_nav">
            <a href="/articles"> More Articles </a>
        </div>
	</div>

	<div>
		{{content}}
	</div>

	<div class="metadata">
		<p> 
			{% if page.date %}
				Date: {{ page.date | date: "%d %b %Y" }}
				<br/>
			{% endif %}
			Author: Ryan Hornberger
			<br/>
			Permalink: <a href="{{ page.permalink }}">{{ page.permalink }}</a>
		</p>		
	</div>
</section>