---
layout: 2014-spring
---
<div id="content-box">
    {{content}}
    <div id="content-box-footer-push"></div>
</div>
<div id="footer">
    <div id="footer-box">
        <div id="footer-about-me" class="footer-section">
            <h2><a href="/" class="h2 white hidden"> HI, I'M RYAN HORNBERGER </a></h2>
            <p>
                I'm currently working with Scan.me on Scan to Pay. Come check out how your customers can buy straight from your print ads.
            </p>
        </div>
        <div id="footer-nav">
            <div  class="footer-section">
                <h2> FOLLOW ME </h2>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x darkGray"></i>
                </span> 
                <span class="fa-stack fa-lg">
                  <i class="fa fa-github fa-stack-2x"></i>
                </span> 
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x darkGray"></i>
                </span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x darkGray"></i>
                </span>
            </div>
            

            <ul>
                <li>
                    
                </li>
                <li><a href="#" class="white"> ARTICLES </a></li>
                <li><a href="/consulting" class="white"> CONSULTING </a></li>
                <li><a href="#" class="white"> WORK HISTORY </a></li>
                <li><a href="#" class="white"> PAY ME </a></li>
            </ul>
        </div>
    </div>
</div>