---
layout: 2014-glass
---

<section class="post">
	<div class="glass">
		<h1 class="title"> {{ page.heading }} </h1>
		{% if page.subtitle %}
			<p class="subtitle" style="padding-top: 0px;"> {{ page.subtitle }} </p>
		{% endif %}
	</div>

	<div>
		{{content}}
	</div>

	<div class="glass row">
		<p> 
			{% if page.date %}
				Date: {{ page.date | date: "%d %b %Y" }}
				<br/>
			{% endif %}
			Author: Ryan Hornberger
			<br/>
			Permalink: <a href="{{ page.permalink }}">{{ page.permalink }}</a>
		</p>
		<link rel="bookmark" href="{{ page.permalink }}" />
	</div>
</section>