@import "bourbon";
@import "neat";

@import "foundation";

$breakpoints: (
	small: rem-calc(0),

	medium: rem-calc(985),
	large: rem-calc(1200),
	xlarge: rem-calc(1440),
	xxlarge: rem-calc(1920),
);

#app-ui 
{
	background-image: url('/_assets/home/2016background.png');
	background-size: cover;

	// Grid frame, vertical alignment here
	@include grid-frame(
		$orientation: vertical
	);

	// Vertical-top aligned on mobile phones
	@include breakpoint(medium) {
		// Vertical-center aligned on larger screens
		align-items: center;
		justify-content: center;
	}

	padding-bottom: 20px;

	#business-card-box
	{
		// Grid container, float to center if the space is bigger than the card
		@include grid-container(
			$width: 100%,
			$align: center
		);

		// Max width of the card is
		width: 100%;
		max-width: 1400px;
		
		#business-card
		{
			@include grid-block(
				$wrap: true
			);

			@include breakpoint(medium) {
				@include grid-block(
					$wrap: false
				);
			}

			#snapcode 
			{
				// Take up the entire space on mobile, and center the image on screen
				@include grid-block(
					$size: 12
				);
				justify-content: center;

				// Take up half of the screen on larger, and right-justify
				@include breakpoint(medium) {
					@include grid-block(
						$size: 6
					);
					justify-content: flex-end;
				}

				// Image size configurations
				img {
					max-width: 300px;
					
					// Mobile devices get a little padding
					padding-top: 20px;
		
					@include breakpoint(medium) {
						max-width: 400px;
						padding-top: 0px;
					}

					@include breakpoint(large) {
						max-width: 600px;
						padding-top: 0px;
					}
				}			
			}

			#message-box
			{
				// Take up the entire screen on mobile, vertical align content to top
				@include grid-block(
					$size: 12,
					$orientation: vertical
				);

				// Take up half the screen on largr, vertical align content to center
				@include breakpoint(medium) {
					@include grid-block(
						$size: 6,
						$orientation: vertical
					);

					align-items: center;
					justify-content: center;
				}

				#message 
				{
					@include grid-content(
						$size: shrink
					);

					h1 {
						font-style: italic;
						font-size: 2.5rem;
						margin: 0px 0px 0px 0px;

						@include breakpoint(medium) {
							font-size: 3.5rem;
						}

						@include breakpoint(large) {
							font-size: 4.4rem;
						}
					}

					h2 {
						font-size: 1.1rem;
						line-height: normal;
						margin: 0px;

						@include breakpoint(medium) {
							font-size: 1.5rem;
						}

						@include breakpoint(large) {
							font-size: 1.75rem;
						}
					}

					@include breakpoint(small only) {
						text-align: center;
					}

					#social-links {
						display: inline-block;
						margin: 0px auto;

						img {
							height: 4rem;
							margin: 20px 20px 0px 0px;

							@include breakpoint(large) {
								height: 5rem;
							}
						}
					}
				}
			}
		}
	}

}