
// -- Configs
	$article-width: 1240px;

// -- Colors

	$white: rgb(255, 255, 255);
	$light_gray: rgb(222, 222, 222);
	$dark_gray: rgb(34, 32, 32);
	$glass: rgba(255, 255, 255, 0.9);
	$shadow: rgba(0, 0, 0, .5);
	$gold: rgb(218, 185, 15);

// -- Defaults

	* {
		box-sizing: border-box !important;
	}

	html {
		height: 100%;
		overflow: hidden;
	}

	body {
		height: 100%;
		overflow: scroll;
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 22px;		
	}

	h1 {
		font-size: 1.7em;
		font-weight: normal;
	}

	h2 {
		font-size: 1.5em;
		font-weight: normal;
	}


	a { text-decoration: none; }
	a:hover { text-decoration: none; }
	a.underline { text-decoration: underline; }
	a.hover:hover { text-decoration: underline; }

// -- Mixins

	%article-position {
		margin: 0px auto;
		max-width: $article-width;
		padding-left: 20px;
		padding-right: 20px;
	}

// -- Header

	header {
		background-color: $dark_gray;	
		padding: 10px;
		
		#title {
			color: $light_gray;
			font-size: 1.5em;
		}
	}

// -- Article

	section#page article {
		@extend %article-position;
	}

// -- Footer

	footer {
		background-color: $dark_gray;	
		padding: 10px;
		color: $light_gray;

		.foot-body {
			@extend %article-position;
		}
	}