@import "compass/css3/box-sizing";
@import "compass/layout/sticky-footer";

// -- FONTS -- //
@import "3rd-party/font-awesome/font-awesome.scss";
@import "3rd-party/clearsans.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

// -- COLORS -- //
	$trueRed: 	#FF0000;
	$trueWhite: #FFFFFF;
	$darkGray: 	#222222;

	.darkGray {
		color: $darkGray;
	}

// -- DEFAULTS -- //
	body {
		//default font layout
		font-family: "Clear Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
		font-size: 14px;
	}

	* {
		//all objects sizing as border-box will guarantee objects stay the size I expect
		@include box-sizing(border-box);

		//no margins or padding on anything unless asking for it
		margin: 0px;
		padding: 0px;
	}

	h1, .h1 { font-size: 26px; margin-bottom: 10px; }
	h2, .h2 { font-size: 18px; margin-bottom: 10px; }
	h3, .h3 { font-size: 18px; margin-bottom: 10px; }
	h4, .h4 { font-size: 18px; margin-bottom: 10px; }

	p { margin-bottom: 15px; }
	a { text-decoration: none; }
	a:hover { text-decoration: underline; }
	a.hidden:hover { text-decoration: none; }
	a.white { color: $trueWhite; }
	a.underline { text-decoration: underline; }

	ul { list-style-position:inside; }

// -- HEADER -- //
	#header {
		background-color: $trueRed;
		display: table;
		height: 35px;
		width: 100%;
		color: $trueWhite;
		padding: 0px 20px;

		#header-title {
			display: table-cell;
		  	vertical-align: middle;
		}
	}

// -- FOOTER -- //
	@include sticky-footer(420px, "#content-box", "#content-box-footer-push", "#footer");
	#footer {
		background-color: $darkGray;
		color: $trueWhite;
		padding: 20px;

		#footer-box {
			.footer-section {
				padding: 10px 0px;
				border-bottom: 1px solid $trueWhite;
			}

			#footer-about-me {
				#profile-pic {
					width: 100px;
					height: 100px;
				}

				p {
					max-width: 400px;
				}
			}

			#footer-nav {
				ul {
					list-style-type: none;

					li {
						margin-top: 10px;
					}
				}
			}
		}
	}

// -- BODY -- //
	#content-box {
		h1, h2, h3, h4, p, ul {
			margin: 10px 20px;
		}

		.fresh ul {
			list-style-type: none;

			p { margin: 0px; }
		}
	}
