
// Border Box
	
	/* apply a natural box layout model to all elements, but allowing components to change */
	html {
	  box-sizing: border-box;
	}
	*, *:before, *:after {
	  box-sizing: inherit;
	}

// TODO Normalize

	body {
		margin: 0px;
		padding: 0px;
		font-family: 'HelveticaNeue-Thin', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	}