@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-Thin.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-Thin.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-Thin.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-Thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-Light.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-Light.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-Light.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-Regular.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-Regular.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-Regular.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-Italic.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-Italic.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-Italic.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-Italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-Medium.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-Medium.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-Medium.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-Medium.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-MediumItalic.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-MediumItalic.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-MediumItalic.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-MediumItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-Bold.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-Bold.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-Bold.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/a/modules/font-clearsans/EOT/ClearSans-BoldItalic.eot');
  src: url('/a/modules/font-clearsans/WOFF/ClearSans-BoldItalic.woff') format('woff'),
    url('/a/modules/font-clearsans/TTF/ClearSans-BoldItalic.ttf') format('truetype'),
    url('/a/modules/font-clearsans/SVG/ClearSans-BoldItalic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}
